body {
  background: #000;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 300px;
  display: none;
  transform: translate(-50%, -50%);
  border: 5px white solid;
}
.popup__opened {
  display: block;
}

.popup__close {
  width: 20px;
  height: 20px;
  cursor: pointer;
  border: 1px black solid;
  background: white;
  margin-left: auto;
}

.popup__one {
  background-color: pink;
}

.popup__two {
  background-color: green;
}

.popup__three {
  background-color: red;
}

p {
  text-align: center;
  font-size: 40px;
  font-weight: 900;
}